/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
*, 
*::before, 
*::after {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IN CORDOVA DEFAULT STRUCTURE */
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#d8d2d2;
    background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    text-transform:uppercase;
    width:100%;
}

body, button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
}

/* IN CORDOVA DEFAULT STRUCTURE */
@media DISABLED {

    /* Portrait layout (default) */
    .app {
        background:url(www/img/background.jpg) no-repeat center top; /* 170px x 200px */
        position:absolute;             /* position in the center of the screen */
        left:50%;
        top:50%;
        height:50px;                   /* text area height */
        width:225px;                   /* text area width */
        text-align:center;
        padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
        margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                       /* offset horizontal: half of text area width */
    }
    
    /* Landscape layout (with min-width) */
    @media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
        .app {
            background-position:left center;
            padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
            margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                          /* offset horizontal: half of image width and text area width */
        }
    }
}


.app,
.app > main,
.app > main > div {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

.app > main > div {
    display: none;
}

.app > main > div.active {
    display: flex;
}


h1, h2 {
    font-size: 3rem;
    font-weight:bolder;
    overflow:visible;
    padding:1em;
    text-align:center;
}


.center {
    margin: 0 auto 0 auto;
}

img {
    height: 100px;
    width: 100px;
}

button {
    border: none;
    background-color: transparent;
}

li {
    list-style-type: none;
}

i {
    font-size: 1.25rem;
}

input[type="color"],
input[type="color"]::-webkit-color-swatch-wrapper, 
input[type="color"]::-webkit-color-swatch {
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    border-radius: 5px;
}


.italicize {
    font-style: italic;
}

.flex,
.flex-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.home-page {
    padding-top: 50px;
}

.home-page > .start-arrow-container {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 3rem;
    color: #020202;
}

.home-page > .title-page {
    font-family: 'Rubik Dirt';
    margin-bottom: 3rem;
    color: #020202;
}

.home-page > .start-arrow-container > span > i {
    font-size: 2.5rem;
}


.cube-select-page > div > .cube-sizes-container {
    margin: 3rem 0 3rem 0;
}


.cube-select-page > div > .cube-sizes-container > li {
    margin: 1rem;
}
.cube-select-page > div > .cube-sizes-container > li > button {
    font-size: 1.5rem;
    background-color: #747070;
    width: 100%;
    padding: 1rem 0;
    border-radius: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.cube-select-page > div > .cube-sizes-container > li > button > img {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
}

.cube-select-page > div {
    width: 100%;
}

.cube-select-page > div > .bottom-icon-container.flex {
    flex-direction: row;
    padding: 1rem;
    color: #020202;
}


.color-assign-page {
    width: 100%;
    height: 100%;
    justify-content: start;
    background-color: #979191;
}


.color-assign-page > nav {
    flex-direction: row;
    width: 100%;
    height: 10%;
    padding: 0.5rem;
    color: #020202;
    /* align-items: normal; */
    /* justify-content: space-between; */
}

.color-assign-page > nav > img {
    width: 70px;
    height: 70px;
    /* align-items: normal; */
    /* justify-content: space-between; */
}

.color-assign-page > .ui, 
.color-assign-page > .ui > .ui__game {
    height: 80%;
    width: 100%;
}


.color-assign-page > nav > h2 {
    font-size: 1.5rem;
    justify-content: space-between;
}

.color-assign-page > nav > i {
    padding: 1rem;
}
.color-assign-page > .color-container,
.color-assign-page > .solve-reset-container {
    padding-bottom: 1.5rem;
}

.color-assign-page > .color-container > .flex-row {
    justify-content: center;

}
.color-assign-page > .color-container > .flex-row > input[type="color"] {
    margin: 0.5rem;

}

.color-assign-page > .solve-reset-container {
    /* margin-bottom: 3rem; */
    width: 100%;
    /* height: 10%; */
    /* height: 5%; */
}

.color-assign-page > .solve-reset-container > button {
    width: 33%;
    background-color: #020202;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.25rem;
    color: #ffffff;
}

.home-logo-responsive {
    padding-top: 10%;
    width: 100%;
    max-width: 300px;
    height: 100%;
  }


.cube-select-page > div > .menu-responsive {
    padding-top: 30%;
    width: 100%;
    max-width: 250px;
    height: auto;
}

.rubiks-container {
    width: 200px;
    height: 200px;
    position: absolute;
    perspective: 700px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
  }
  .rubiks-cube {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    background: black;
  }
  
  .cube-side {
    width: 100%;
    height: 100%;
    font-size: 0;
    position: absolute;
    backface-visibility: hidden;
    background: black;
    border-radius: 7px;
  }
  
  @for $j from 1 through length($sides) {
    @for $i from 1 through $repeat {
      .cube-side:nth-of-type(#{$j}) .cube-side-square:nth-of-type(#{length($colors)}n
          + #{$i}) {
        background: nth($colors, random(length($colors)));
      }
    }
  }
  .cube-side .cube-side-square {
    display: inline-block;
    border: 6px solid;
    width: 33%;
    height: 33%;
    border-radius: 12px;
  }
  
  
  .cube-side.side-front {
    transform: translateZ(100px);
  }
  .cube-side.side-back {
    transform: rotateX(-180deg) translateZ(100px);
  }
  .cube-side.side-right {
    transform: rotateY(90deg) translateZ(100px);
  }
  .cube-side.side-left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  .cube-side.side-top {
    transform: rotateX(90deg) translateZ(100px);
  }
  .cube-side.side-bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  .rubiks-cube {
    animation: rubiksCubeRotate 20s linear infinite both alternate;
  }
  
    @keyframes rubiksCubeRotate {
      0%       { transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg); }
      15%      { transform: rotateZ(45deg) rotateX(45deg) rotateY(45deg); }
      30%      { transform: rotateZ(45deg) rotateX(90deg) rotateY(90deg); }
      45%      { transform: rotateZ(45deg) rotateX(135deg) rotateY(135deg); }
      60%      { transform: rotateZ(45deg) rotateX(90deg) rotateY(180deg);  }
      75%      { transform: rotateZ(45deg) rotateX(45deg) rotateY(225deg); }
      100%      { transform: rotateZ(45deg) rotateX(0deg) rotateY(270deg); }
    }

/* IN CORDOVA DEFAULT STRUCTURE */
@media DISABLED {

    .event {
        border-radius:4px;
        color:#FFFFFF;
        font-size:12px;
        margin:0px 30px;
        padding:2px 0px;
    }
    
    .event.listening {
        background-color:#333333;
        display:block;
    }
    
    .event.received {
        background-color:#4B946A;
        display:none;
    }
    
    #deviceready.ready .event.listening { display: none; }
    #deviceready.ready .event.received { display: block; }
    
    @keyframes fade {
        from { opacity: 1.0; }
        50% { opacity: 0.4; }
        to { opacity: 1.0; }
    }
    
    .blink {
        animation:fade 3000ms infinite;
        -webkit-animation:fade 3000ms infinite;
    }
}


@media screen and (prefers-color-scheme: light) {
    body {
        background-image:linear-gradient(to bottom, #f5eded 0%, rgb(191, 188, 188) 51%);
    }
}
